* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html {
   // scroll-behavior: smooth;
}
body {
   font-family: 'Poppins', sans-serif;
   color: #333;
}
h1 {
   font-size: 40px;
}
h2 {
   font-size: 36px;
}
h3 {
   font-size: 26px;
}
h4 {
   font-size: 22px;
}
h5 {
   font-size: 20px;
}
h6 {
   font-size: 16px;
}
p, span, a, label, th, td, .btn {
   font-size: 13px;
   color: #222;
}
i {
   font-size: 16px;
   color: #999;
   transition: .4s;
}
i:hover {
   color: #d2a77c;
}
a {
   text-decoration: none;
   transition: .4s;
}
a:hover {
   text-decoration: none;
   color: #d2a77c;
   i {
      color: #d2a77c;
   }
}
.badge {
   background: #d2a77c;
   color: #fff;
   height: 16px;
   min-width: 16px;
   line-height: 1.1;
   border-radius: 10px;
   font-size: 10px;
}

::-webkit-input-placeholder {
  font-size: 13px !important;
  color: #222 !important;
}

::-webkit-scrollbar {
 width: 0px;
 height: 10px;
}
::-webkit-scrollbar-track {
 background: #fff;
 border-radius: 3px;
}
::-webkit-scrollbar-thumb {
 background: #e5e5e5;
 border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
 background: #e5e5e5;
}
// .img-fluid {
//   width: -webkit-fill-available !important;
//   height: -webkit-fill-available !important;
// }
.btn {
  background: #fff;
  border: 1px solid #d2a77c;
  border-radius: 0px;
  transition: .4s;
  font-weight: 500;
  color: #d2a77c;
}
.btn-wave {
   border: 1px solid #fff;
   position: relative;
   overflow: hidden;
   background: none;
   color: #fff;
   letter-spacing: 1px;
   padding: 12px 35px;
   transition: .4s;
   z-index: 1;
}
.btn-wave:hover {
   color: #d2a77c;
}
.btn-wave::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   background-color: #fff;
   width: 100%;
   height: 100%;
   transform: translateY(100%);
   transition: .4s;
}
.btn-wave:hover:before {
   transform: translateY(0%);
   z-index: -1;
}

.btn:focus {
  box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.25);
}
.form-control {
  font-size: 13px;
  border: 1px solid #e3e3e3;
}
.custom-select:focus,
.form-control:focus {
  box-shadow: none;
  border: 1px solid #45c2de;
}

.input-group {
  .input-group-text {
     background: #fff;
     border-left: 0px;
     .fa {
        color: #0EA61A;
     }
  }
}



// ----------------------------------------
// HEADER ONE
// ----------------------------------------
#headerOne {
   .main-part {
      padding: 5px 2px;
      border-bottom: 1px solid #ebebeb;
   }
   i {
      font-size: 13px;
   }
   a {
      color: #999;
   }
   a:hover {
      color: #d2a77c;
   }
   .part-1 {
      a {
         font-weight: 500;
         i {
            margin-right: 3px;
         }
      }
   }
   .part-2 {
      text-align: right;
       .social-link {
          i {
             margin-right: 10px;
          }
       }
       .login {
          margin-left: 10px;
          transition: all .4s;
          font-weight: 500;
       }
       .fa-user {
          margin-right: 3px;
       }
       .fa-angle-down {
          margin-left: 5px;
       }
   }
}



// ----------------------------------------
// HEADER TWO
// ----------------------------------------
#headerTwo {
   .main-part {
      padding: 20px 2px;
      border-bottom: 1px solid #e3e3e3;
      align-items: center;
   }
   i {
      font-size: 20px;
   }
   a {
      font-weight: 500;
   }
   .part-1 {
      .input-group {
         .input-group-text {
            border: none;
            padding-left: 0;
            .fa-search {
               color: #222;
            }
         }
         .form-control {
            border: none;
            padding-left: 0;
            color: #222;
            font-weight: 500;
         }
         .form-control::-webkit-input-placeholder {
            font-size: 13px !important;
            color: #222 !important;
            font-weight: 500;
         }
      }
   }
   .part-2 {
      .logo {
         img {
            width: 80px;
         }
      }
      .logo {
         font-size: 27px;
         color: #333;
         font-weight: 700;
      }
   }
   .part-3 {
      display: flex;
      padding-top: 10px;
      .wishlist {
         margin-right: 15px;
      }
      a {
         i {
            margin-right: 10px;
            position: relative;
            color: #222;
            .badge {
               position: absolute;
               top: -5px;
               right: -10px;
            }
         }
         span {
            transition: .4s;
         }
      }
      a:hover {
         span.d-none, i {
            color: #d2a77c;
         }
      }
      .shopping-cart {
         position: relative;
         // padding-bottom: 10px;
      }
      .cart-dropdown {
         background: #fff;
         padding: 30px;
         padding-top: 15px;
         box-shadow: 0px 0px 10px -5px #222;
         width: 300px;
         position: absolute;
         visibility: hidden;
         opacity: 0;
         right: 0;
         top: 33px;
         z-index: 1;
         transition: .4s;
         .cart-box {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #e3e3e3;
            padding: 15px 0;
            .txt-area {
               width: 150px;
               p {
                  color: #999;
               }
            }
            .img-box {
               margin: 0 10px;
               width: 50px;
               height: 50px;
               img {
                  width: 100%;
                  height: 100%;
               }
            }
            .remove-item {
               margin-left: 10px;
               padding: 0;
               .fal {
                  font-size: 13px;
                  cursor: pointer;
               }
            }
         }
         .pricing {
            padding-top: 15px;
            span {
               font-size: 14px;
               font-weight: 500;
            }
         }
         .btn-box {
            margin-top: 15px;
            .btn1 {
               background: #d2a77c;
               color: #fff;
            }
            .btn1:hover {
               background: #fff;
               color: #d2a77c;
            }
            .btn2 {
               .fal {
                  color: #d2a77c;
                  font-size: 12px;
                  margin-left: 5px;
               }
            }
            .btn2:hover {
               color: #fff;
               background: #d2a77c;
               .fal {
                  color: #fff;
               }
            }
         }
      }
      .shopping-cart:hover > .cart-dropdown {
         visibility: visible;
         opacity: 1;
      }
      .shopping-cart:hover > #callCart {
         span.d-none {
            color: #d2a77c;
         }
         .far {
            color: #d2a77c;
         }
      }
   }
}



// ----------------------------------------
// HEADER THREE
// ----------------------------------------
#headerThree {
   background: #222;
   #hamburger {
      padding: 10px 0;
      cursor: pointer;
      .fal {
         font-size: 24px;
         color: #fff;
         margin-top: 4px;
      }
   }
   #hamburger:hover {
      .fal {
         color: #d2a77c;
      }
   }
   .nav-item {
      margin-right: 15px;
      padding: 8px 0;
      .nav-link {
         color: #fff;
         font-size: 14px;
         position: relative;
         font-weight: 500;
         .fa-angle-down {
            color: #fff;
            margin-left: 5px;
         }
      }
      .nav-link::before {
         content: "";
         position: absolute;
         background: #d2a77c;
         height: 1px;
         width: 0%;
         bottom: 0;
         left: 0;
         transition: .4s;
      }
      .nav-link:hover:before {
         width: 100%;
      }
   }
   .dropdown {
      .dropdown-menu {
         margin-top: 0;
         padding: 15px 0px;
         min-width: 200px;
         border: none;
         border-radius: 0;
         box-shadow: 0px 0px 10px -5px #222;
         display: block;
         opacity: 0;
         visibility: hidden;
         transition: .4s;
         z-index: -1;
         .dropdown-item {
            padding: 5px 25px;
            color: #777;
            background: none;
            transition: .4s;
            .fa-angle-right {
               float: right;
               position: relative;
               top: 2px;
            }
         }
         .dropdown-item:hover,
         .dropdown-item:focus {
            color: #d2a77c;
            margin-left: 2px;
         }
      }
   }
   .dropdown:hover > .dropdown-menu {
      opacity: 1;
      visibility: visible;
      z-index: 1;
   }
   .dropdown:hover > .nav-link:before {
      width: 100%;
   }
   .dropdown:hover > .nav-link .fal {
      transform: rotate(-180deg);
   }
   .multi-option {
      p.title {
         padding: 5px 25px;
         margin-bottom: 0;
         font-weight: 600;
         color: #333;
      }
      .part-1,
      .part-2 {
         min-width: 200px;
         padding-top: 15px;
      }
      .part-3 {
         min-width: 200px;
         position: relative;
         .img-box {
            width: 100%;
            height: auto;
            overflow: hidden;
            img {
               transition: .4s;
               width: 100%;
               height: auto;
            }
         }
         .txt-box {
            position: absolute;
            bottom: 20px;
            left: 20px;
            h3 {
               font-weight: 600;
               color: #fff;
            }
            h4 {
               font-weight: 700;
               color: #fff;
            }
         }
      }
      .part-3:hover {
         .img-box {
            img {
               transform: scale(1.1);
            }
         }
      }
   }
   .dropdown-2 {
      position: relative;
      .dropdown-menu-2 {
         position: absolute;
         top: 0;
         display: block;
         opacity: 0;
         visibility: hidden;
         min-width: 200px;
         right: -200px;
         background: #fff;
         padding: 15px 0px;
         box-shadow: 0px 0px 10px -5px #222;
         transition: .4s;
         z-index: -1;
      }
   }
   .dropdown-2:hover > .dropdown-menu-2 {
      opacity: 1;
      visibility: visible;
      z-index: 1;
   }
   .dropdown-2:hover > .dropdown-item {
      color: #d2a77c;
      margin-left: 2px;
      .fal {
         color: #d2a77c;
      }
   }
   .navbar-text {
      color: #fff;
      font-size: 14px;
      .fal {
         color: #d2a77c;
         margin-right: 5px;
      }
   }
}
.fixed-top {
   z-index: 5;
   transition: .4s;
}



// ----------------------------------------
// SIDE NAV
// ----------------------------------------
#sidenav {
   position: fixed;
   background: #333333;
   height: 100%;
   z-index: 10;
   width: 280px;
   left: -280px;
   top: 0;
   -webkit-transition: all .4s ease;
   -moz-transition: all .4s ease;
   transition: all .4s ease;
   .header {
      padding: 15px 20px;;
      width: 100%;
      #showsidenav {
         float: right;
      }
      .fal {
         color: #e5e5e5;
      }
      .fal:hover {
         color: #d2a77c;
      }
   }
   .input-group {
      width: 100%;
      padding: 0 20px;
      border: none;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 10px;
      .form-control {
         font-size: 12px;
         padding: 18px 12px;
         border-radius: 0px;
         border: 1px solid #555;
         background: none;
         color: #fff;
      }
      .form-control::-webkit-input-placeholder {
        color: #999 !important;
      }
      .form-control:focus {
         box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.25) !important;
      }
      .form-control:focus {
         border: 1px solid #cc9866;
      }
      .input-group-append {
         border: none;
         .input-group-text {
            border-radius: 0px;
            background: #cc9866;
            border: 1px solid #cc9866;
            text-decoration: none;
            color: #fff;
            padding: 0px 12px;
            .far {
               color: #e5e5e5;
               font-size: 10px;
            }
         }
      }
   }
   .main-ul {
      overflow-y: auto;
      height: 100vh;
      padding-bottom: 108px;
   }
   .list-item {
      list-style: none;
      border-bottom: 1px solid #444;
      position: relative;
      // display: block;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      transition: all 0.4s ease;
      a {
         color: #e5e5e5;
         display: inline-block;
         padding: 10px 20px;
         // width: 80%;
         font-size: 12px;
      }
      a:hover,
      a.active-a {
         color: #d2a77c;
      }
      .fal {
         color: #e5e5e5;
         position: absolute;
         right: 0px;
         top: 0px;
         text-align: center;
         margin-top: 3px;
         font-size: 18px;
         height: 32px;
         cursor: pointer;
         padding: 8px 20px;
      }
      .fal:hover {
         color: #d2a77c;
      }
      .fal.active {
         transform: rotate(-180deg);
         color: #d2a77c;
      }
   }
   .drop-down {
      margin-top: 0;
      display: none;
      padding-bottom: 15px;
      li {
         border-bottom: none;
         position: relative;
         a {
            color: #e5e5e5;
            display: block;
            padding: 7px 45px 7px 35px;
         }
         a:hover {
            color: #d2a77c;
         }
         .fal {
            padding: 6px 20px;
         }
      }
      .dropdown-2 {
         padding-bottom: 0;
         a {
            padding: 7px 45px 7px 55px;
         }
      }
   }
   .social-links {
      border-bottom: none;
      text-align: center;
      margin-top: 10px;
      a {
         padding: 10px 10px;
      }
   }
}

#sidenav ul li a.active+ul {
   display: block
}
.show {
   left: 0px !important;
}



// ----------------------------------------
// HOME SECTION
// ----------------------------------------
#homeSection {
   .slider-box {
      background: url(../img/banner/slider-bg01.jpg);
      background-size: cover;
      background-position: center top;
      .overlay {
         background: rgba(34, 34, 34, .5);
         height: 100%;
      }
      .txt-box {
         padding: 200px 0;
         // padding: 250px 0;
         p {
            color: #fff;
            font-weight: 600;
         }
         h1 {
            color: #fff;
            font-size: 90px;
            font-weight: 600;
            letter-spacing: 10px;
            margin-bottom: 15px;
         }
         .btn {
            border: 1px solid #fff;
            position: relative;
            overflow: hidden;
            background: none;
            color: #fff;
            letter-spacing: 1px;
            padding: 12px 35px;
            transition: .4s;
            z-index: 1;
         }
         .btn:hover {
            color: #d2a77c;
         }
         .btn::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-color: #fff;
            width: 100%;
            height: 100%;
            transform: translateY(100%);
            transition: .4s;
         }
         .btn:hover:before {
            transform: translateY(0%);
            z-index: -1;
         }
      }
   }
   .slider-box2 {
      background: url(../img/banner/slider-bg02.jpg);
      background-position: center center;
   }
   .slider-box3 {
      background: url(../img/banner/slider-bg03.jpg);
   }
   .owl-carousel {
      position: relative;
      z-index: 0;
   }
   .owl-dots {
      position: absolute;
      bottom: 20px;
      display: block;
      width: 100%;
      text-align: center;
      .owl-dot {
         width: 10px !important;
         height: 10px !important;
         background: none;
         border: 1px solid #e5e5e5;
         border-radius: 20px;
         transition: .4s;
         margin: 0px 5px;
      }
      .owl-dot:focus {
         outline: 0px dotted !important;
         outline: 0px auto -webkit-focus-ring-color !important;
      }
      .owl-dot.active {
         background: #e5e5e5;
         width: 20px !important;
      }
   }
   .owl-nav {
      display: block;
      width: 100%;
      position: absolute;
      top: 48%;
      transform: translateY(-48%);
      transition: .4s;
      button {
         width: 40px;
         height: 40px;
         background: none;
         border: 1px solid #d2a77c;
         border-radius: 100px;
         transition: .4s;
      }
      button:hover {
         background: #d2a77c;
         color: #fff;
      }
      .owl-prev {
         margin-left: 100px;
         span {
            opacity: 0;
         }
      }
      .owl-next {
         float: right;
         margin-right: 100px;
         span {
            opacity: 0;
         }
      }
      .owl-prev::before,
      .owl-next::before {
         font-size: 20px;
         padding: 10px;
         color: #d2a77c;
         content: '\f053';
         font-weight: 300;
         font-family: 'Font Awesome 5 pro';
         transition: .4s;
      }
      .owl-next::before {
         padding: 15px;
         content: '\f054';
      }
      .owl-prev:focus {
         outline: 0px dotted;
      }
      .owl-next:focus {
         outline: 0px dotted;
      }
      .owl-prev:hover:before,
      .owl-next:hover:before {
         color: #fff;
      }
   }
}



// ----------------------------------------
// HIGHLIGHTED PRODUCT SECTION
// ----------------------------------------
#highlightedProduct {
   margin: 50px 0;
   overflow: hidden;
   .container {
      padding: 0 7.5px;
      display: grid;
      grid-auto-flow: dense;
      // grid-gap: 15px;
      grid-template-columns: 2fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
   }
   .product-box {
      margin: 7.5px;
      position: relative;
      overflow: hidden;
      .overlay {
         background: rgba(0, 0, 0, .2);
         height: 100%;
         position: relative;
      }
      .txt-box {
         position: absolute;
         z-index: 1;
         p {
            color: #fff;
            font-weight: 500;
            letter-spacing: 1px;
         }
         h5 {
            color: #fff;
            font-weight: 600;
            margin-bottom: 20px;
         }
         a {
            color: #fff;
            font-weight: 500;
            letter-spacing: 1px;
            border-bottom: 1px solid #fff;
            padding: 5px 2px;
         }
      }
   }
   .product-box:before  {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .2);
      top: -100%;
      left: -100%;
      transition: .5s;
   }
   .product-box:hover:before  {
      top: 0;
      left: 0;
   }
   .product-box:after  {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .2);
      bottom: -100%;
      right: -100%;
      transition: .5s;
   }
   .product-box:hover:after  {
      bottom: 0;
      right: 0;
   }
   .box-1 {
      grid-row: 1/span 2;
      background: url(../img/banner/banner-01.jpg);
      background-size: cover;
      background-position: center;
      height: 577px;
      .txt-box {
         bottom: 80px;
         left: 20px;
      }
   }
   .box-2 {
      grid-column: 2/span 3;
      background: url(../img/banner/banner-02.jpg);
      background-position: center center;
      background-size: cover;
      .txt-box {
         left: 20px;
         top: 50%;
         transform: translateY(-50%);
      }
   }
   .box-3 {
      background: url(../img/banner/banner-03.jpg);
      background-position: top right;
      background-size: cover;
      .txt-box {
         bottom: 20px;
         left: 20px;
      }
   }
   .box-4 {
      background: url(../img/banner/banner-04.jpg);
      background-position: center left;
      background-size: cover;
      .txt-box {
         top: 20px;
         right: 20px;
      }
   }
}



#masonry {
   .container {
      display: grid;
      // grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      // grid-template-rows: repeat(minmax(100px, auto));
      grid-template-columns: 2fr 1fr 1fr;
      grid-template-rows: 2fr 1fr;
      // grid-template-rows: 2fr 1fr;
      grid-auto-flow: dense;
      grid-gap: 15px;
      .box {
         background: #d2a77c;
         padding: 20px;
         border: 1px solid #666;
      }
      .box-1 {
         // grid-row: 1/ span 2;
         grid-column: span 1;
      }
      .box-2 {
         // grid-row: span 1;
         grid-column: span 3;
      }
   }
}



// ----------------------------------------
// TRENDY PRODUCT SECTION
// ----------------------------------------
#trendyProductSection {
   margin-bottom: 100px;
   .container {
      padding: 0 7px;
   }
   .section-header {
      margin-bottom: 30px;
      h3 {
         font-weight: 600;
      }
      .switcher {
         margin: 10px 5px;
         position: relative;
         padding: 10px;
      }
      .switcher.active {
         color: #d2a77c;
      }
      .switcher::before {
         content: "";
         position: absolute;
         background: #d2a77c;
         height: 1px;
         width: 0%;
         bottom: 0;
         left: 0;
         transition: .4s;
      }
      .switcher.active::before,
      .switcher:hover::before {
         width: 100%;
      }
   }
   .slider-item {
      margin: 8px;
   }
   .product-box {
      width: 100%;
      position: relative;
      background: #ebebeb;
      overflow: hidden;
      cursor: pointer;
      .img-box {
         width: 100%;
         max-height: 320px;
         overflow: hidden;
         transition: .4s;
         img {
            width: 100%;
            transition: .4s;
         }
      }
      .img2 {
         position: absolute;
         top: 0;
         opacity: 0;
      }
      .badge-txt {
         position: absolute;
         top: 0;
         left: 0;
         margin: 15px;
         text-align: center;
         span {
            background: #ef827b;
            color: #fff;
            display: block;
            margin: 5px;
            padding: 4px 10px;
         }
         span.sale {
            background: #222;
         }
         .top, .sale {
            width: 50px;
         }
         span.stock {
            background: #cccccc;
            display: block;
         }
      }
      .hover-txt1 {
         text-align: center;
         background: #fff;
         position: absolute;
         display: block;
         width: 100%;
         bottom: -40px;
         border-bottom: 1px solid #ebebeb;
         transition: .4s;
         a {
            color: #d2a77c;
            padding: 8px 0;
            display: block;
            width: 100%;
            .fal {
               color: #d2a77c;
               margin-right: 5px;
            }
         }
      }
      .hover-txt1:hover {
         background: #d2a77c;
         a, .fal {
            color: #fff;
         }
      }
      .hover-txt2 {
         position: absolute;
         top: 0;
         right: -40px;
         transition: .4s;
         a {
            display: block;
            background: #fff;
            height: 30px;
            width: 30px;
            margin: 10px;
            border-radius: 30px;
            transition: .4s;
            .fal {
               color: #d2a77c;
               padding: 8px 7px;
            }
         }
         a:hover {
            background: #d2a77c;
            .fal {
               color: #fff;
            }
         }
      }
   }
   .product-box:hover {
      .img-box {
         img {
            transform: scale(1.1);
         }
      }
      .img2 {
         opacity: 2;
      }
      .hover-txt1 {
         bottom: 0;
      }
      .hover-txt2 {
         right: 0;
      }
   }
   .txt-box {
      margin-top: 5px;
      p {
         margin-bottom: 0;
         color: #999;
         margin-bottom: 5px;
      }
      .name {
         font-weight: 500;
         color: #222;
         font-size: 14px;
         margin-bottom: 10px;
      }
      .price {
         color: #d2a77c;
         margin-right: 10px;
         span {
            color: #d2a77c;
         }
      }
      .before-price {
         margin-right: 10px;
         color: #999;
         text-decoration: line-through;
         span {
            color: #999;
         }
      }
   }
   .owl-carousel {
      position: relative;
      z-index: 0;
   }
   .owl-stage-outer {
      z-index: 1;
   }
   .owl-dots {
      position: absolute;
      bottom: -50px;
      display: block;
      width: 100%;
      text-align: center;
      .owl-dot {
         width: 10px !important;
         height: 10px !important;
         background: none;
         border: 1px solid #999;
         border-radius: 20px;
         transition: .4s;
         margin: 0px 5px;
      }
      .owl-dot:focus {
         outline: 0px dotted !important;
         outline: 0px auto -webkit-focus-ring-color !important;
      }
      .owl-dot.active {
         background: #999;
         width: 20px !important;
      }
   }
   .owl-nav {
      display: block;
      width: 100%;
      position: absolute;
      top: 40%;
      transform: translateY(-40%);
      transition: .4s;
      z-index: 0;
      button {
         width: 40px;
         height: 40px;
         background: none;
         border-radius: 100px;
         transition: .4s;
      }
      button:hover {
         color: #d2a77c;
      }
      .owl-prev {
         margin-left: -50px;
         span {
            opacity: 0;
         }
      }
      .owl-next {
         float: right;
         margin-right: -50px;
         span {
            opacity: 0;
         }
      }
      .owl-prev::before,
      .owl-next::before {
         font-size: 20px;
         padding: 10px;
         color: #999;
         content: '\f053';
         font-weight: 300;
         font-family: 'Font Awesome 5 pro';
         transition: .4s;
      }
      .owl-next::before {
         padding: 15px;
         content: '\f054';
      }
      .owl-prev:focus {
         outline: 0px dotted;
      }
      .owl-next:focus {
         outline: 0px dotted;
      }
      .owl-prev:hover:before,
      .owl-next:hover:before {
         color: #d2a77c;
      }
   }
}



// ----------------------------------------
// SERVICE SECTION
// ----------------------------------------
#serviceSection {
   background: #222;
   margin-bottom: 50px;
   padding: 40px 0;
   .service-box {
      margin: 20px 0;
      .fal {
         color: #d2a77c;
         font-size: 24px;
      }
      h5 {
         color: #fff;
         margin-top: 10px;
      }
      p {
         color: #999
      }
   }
}



// ----------------------------------------
// ALL PRODUCT SECTION
// ----------------------------------------
#allProductSection {
   margin-bottom: 50px;
   .section-header {
      margin-bottom: 50px;
      h3 {
         font-weight: 600;
      }
   }
   .slider-item {
      margin-bottom: 15px;
   }
   .product-box {
      margin: auto;
      width: 100%;
      position: relative;
      background: #ebebeb;
      overflow: hidden;
      .img-box {
         width: 100%;
         max-height: 320px;
         overflow: hidden;
         transition: .4s;
         img {
            width: 100%;
            transition: .4s;
         }
      }
      .img2 {
         position: absolute;
         top: 0;
         opacity: 0;
      }
      .badge-txt {
         position: absolute;
         top: 0;
         left: 0;
         margin: 15px;
         text-align: center;
         span {
            background: #ef827b;
            color: #fff;
            display: block;
            margin: 5px;
            font-size: 12px;
            padding: 4px 10px;
         }
         span.sale {
            background: #222;
         }
         .top, .sale {
            width: 50px;
         }
         span.stock {
            background: #cccccc;
            display: block;
         }
      }
      .hover-txt1 {
         text-align: center;
         background: #fff;
         position: absolute;
         display: block;
         width: 100%;
         bottom: -40px;
         border-bottom: 1px solid #ebebeb;
         transition: .4s;
         a {
            color: #d2a77c;
            padding: 8px 0;
            display: block;
            width: 100%;
            .fal {
               color: #d2a77c;
               margin-right: 5px;
            }
         }
      }
      .hover-txt1:hover {
         background: #d2a77c;
         a, .fal {
            color: #fff;
         }
      }
      .hover-txt2 {
         position: absolute;
         top: 0;
         right: -40px;
         transition: .4s;
         a {
            display: block;
            background: #fff;
            height: 30px;
            width: 30px;
            margin: 10px;
            border-radius: 30px;
            transition: .4s;
            .fal {
               color: #d2a77c;
               padding: 8px 7px;
            }
         }
         a:hover {
            background: #d2a77c;
            .fal {
               color: #fff;
            }
         }
      }
   }
   .product-box:hover {
      .img-box {
         img {
            transform: scale(1.1);
         }
      }
      .img2 {
         opacity: 1;
      }
      .hover-txt1 {
         bottom: 0;
      }
      .hover-txt2 {
         right: 0;
      }
   }
   .txt-box {
      margin-top: 5px;
      p {
         margin-bottom: 0;
         color: #999;
         margin-bottom: 5px;
      }
      .name {
         font-weight: 500;
         color: #222;
         font-size: 14px;
         margin-bottom: 10px;
      }
      .price {
         color: #d2a77c;
         margin-right: 10px;
         span {
            color: #d2a77c;
         }
      }
      .before-price {
         margin-right: 10px;
         color: #999;
         text-decoration: line-through;
         span {
            color: #999;
         }
      }
   }
   #loadMore {
      border: 1px solid #222;
      margin-top: 30px;
      position: relative;
      overflow: hidden;
      background: none;
      color: #222;
      letter-spacing: 1px;
      padding: 12px 35px;
      transition: .4s;
      z-index: 1;
      .fal {
         color: #222;
         margin-left: 5px;
         font-size: 12px;
         font-weight: 500;
      }
   }
   #loadMore:hover {
      color: #fff;
      .fal {
         color: #fff;
      }
   }
   #loadMore::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: #222;
      width: 110%;
      height: 100%;
      transform: translateY(-100%);
      transition: .4s;
   }
   #loadMore:hover:before {
      transform: translateY(0%);
      z-index: -1;
   }
}



// ----------------------------------------
// FOOTER SECTION
// ----------------------------------------
#footerSection {
   background: #222;
   padding: 40px 0 0 0;
   .row:first-child {
      padding-bottom: 20px;
   }
   .footer-box {
      margin: 20px 0;
      h6 {
         color: #fff;
         margin-bottom: 20px;
      }
      p {
         color: #999;
         margin-bottom: 30px;
      }
      ul {
         list-style: none;
         li {
            margin-bottom: 5px;
            a {
               color: #999;
            }
            a:hover {
               color: #d2a77c;
            }
         }
      }
   }
   .part1 {
      .social-links {
         border-bottom: none;
         margin-top: 20px;
         a {
            padding: 8px 0;
            margin: 0 5px;
            border-radius: 30px;
            .fab {
               width: 35px;
               height: 35px;
               text-align: center;
            }
         }
         a:hover {
            background: #fff;
            .fab {
               color: #222;
            }
         }
      }
   }
   .copyright {
      border-top: 1px solid #444;
      padding: 40px 0;
      text-align: center;
      .payment {
         margin-bottom: 20px;
      }
      .logo {
         font-size: 27px;
         color: #fff;
         font-weight: 600;
         img {
            width: 80px;
         }
      }
      p {
         color: #999;
         margin-top: 15px;
         margin-bottom: 0;
      }
   }
}



// ----------------------------------------
// SCROLL TO TOP ICON
// ----------------------------------------
.scroll-up {
   position: fixed;
   height: 50px;
   width: 50px;
   right: 50px;
   bottom: 50px;
   background: #fff;
   box-shadow: 0px 0px 15px -10px #666;
   transition: .4s;
   z-index: 10;
   .fal {
      color: #d2a77c;
      padding: 15px;
      font-size: 25px;
   }
}
.scroll-up:hover {
   background: #d2a77c;
   .fal {
      color: #fff;
   }
}



// ----------------------------------------
// MEDIA QURIES
// ----------------------------------------

@media (min-width: 1200px) {
   .container {
       max-width: 1200px;
   }
}

@media (min-width: 992px) {
   #sidenav {
      left: -280px !important;
   }
}

@media (max-width: 991px) {
   .container {
       max-width: 100%;
   }
   #headerTwo {
      .main-part {
         padding: 10px 2px;
      }
   }
   #homeSection {
      .slider-box {
          .txt-box h1 {
             font-size: 60px;
          }
      }
      .owl-nav {
         .owl-prev {
            margin-left: 25px;
         }
         .owl-next {
            margin-right: 25px;
         }
      }
   }
   #highlightedProduct {
      .container {
         grid-template-columns: 2fr 1fr 1fr;
         grid-template-rows: 1fr 1fr 1fr;
      }
      .box-2 {
         grid-column: 1/span 3;
         grid-row: 3/span 1;
      }
      .box-3 {
         grid-column: 2/span 3;
      }
      .box-4 {
         grid-column: 2/span 3;
      }
   }
   #trendyProductSection {
      .owl-nav {
         display: none;
      }
   }
}

@media (min-width: 768px) {
   #homeSection {
      .owl-dots {
         display: none;
      }
   }
}

@media (max-width: 767px) {
   #homeSection {
      .slider-box {
          .txt-box h1 {
             font-size: 40px;
          }
      }
      .owl-nav {
         display: none;
      }
   }
}

@media (max-width: 511px) {
   #homeSection {
      .slider-box {
         .txt-box {
            padding: 100px 0;
         }
         .btn {
            padding: 8px 20px !important;
         }
      }
   }
   #highlightedProduct {
      .box-1 {
         height: 400px;
      }
   }
   #highlightedProduct {
      .txt-box {
         h5 {
            font-size: 16px;
            margin-bottom: 10px !important;
         }
         p, a {
            font-size: 12px;
         }
      }
   }
}
